extends signed-out

block content
  #box
    #Container_Header About Us
    #Container_about.info
      p
        | Welcome to our website, your go-to platform for finding dogs
        | for adoption from various reputable adoption
        | institutions.
        br
        br
        | Our website was created with a clear purpose in mind:
        |                     to make it easier for individuals and families to find their
        |                     ideal dogs for adoption.
        br
        |                     We believe that every dog deserves a loving home, and our
        |                     platform aims to connect prospective adopters with adoption
        |                     institutions across the country.
        br
        |                     Searching for a dog to adopt can be a time-consuming and
        |                     challenging task. That&apos;s where our website comes in. Our
        |                     user-friendly search functionality allows you to filter your
        |                     search based on several criteria.
        br
        br
        | Whether you have a specific breed in mind, a
        |                     particular purpose for adoption, or a preferred location,
        |                     our platform empowers you to find the perfect match.
        br
        | At our core, we are dedicated to saving as many dogs
        |                     as possible from neglect, abuse, and other forms of animal
        |                     cruelty. 
        br
        | By facilitating adoptions, we give these
        |                     deserving animals a second chance at a happy and fulfilling
        |                     life. 
        br
        | Thank you for visiting our website and joining
        |                     us in our mission to promote dog adoption and make a
        |                     positive impact on the lives of these incredible creatures.
        br
        | Together, we can give every dog a chance to find a
        |                     forever home filled with love, care, and happiness.
        br