extends signed-in

block content
  #cover.info
    #Container_Header Home
    #button-container
      table(cellpadding='12' cellspacing='0')
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            a(href='profile')  My profile 
          td
            a(href='find-dog')  find dogs 
          td
            a(href='add-dog')  Add a dog 