doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title About Us
  link(rel='stylesheet' href='style.css')
  script(defer='' src='script.js')
#header
  header
    nav.nav
      ul.nav-list
        li.list-item
          a(href='index') Home
        li.list-item
          a(href='about-us') About Us
#Container_Logo
  img#logo(src='images/logo.png' alt='Logo')

block content

.footerRight
  footer
    a(href='./contact-us') Contact Us
.footerLeft
  footer
    p
      | Ways of communication:
      br
      | Our phone number-
      |                     077-50409922
      br
      | Our email- Smilingdog@gmail.com