extends signed-out

block content
  #cover.info
    #Container_Header Welcome
    #button-container
      table(cellpadding='8' cellspacing='0')
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            a(href='sign-up')  sign Up 
      table(cellpadding='8' cellspacing='0')
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            br
        tr
          td
            a(href='login')  Log in 